.clima-header {
    text-align: center;
    margin-bottom: 20px;
}

.clima-content {
    margin-top: 150px; /* Ajusta el valor según necesites */
    text-align: center;
}


select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clima-info {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

.clima-info th {
    background-color: #90EE90;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.clima-info td {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ddd;
}
